.App {
  text-align: center;
}

h2{

}

img{
  height: 100px;
  margin: 0 25px 0 0;
  float:right;
}

a{
  text-decoration:none;
  color:black;
}

.chart-container{
  background: white;
  padding:15px;
}

.track-list{
  background:white;
}

.song{
  background: #cccccc;
  border:2px solid white;
  margin: 0 0 10px 0;
  border-radius:15px;
  display: block;
  height:100px;
  padding:0;
}

.song:hover{
  background:white;
  border:2px solid #cccccc;
}

.position-box{
  display: inline-block;
  border-right: 2px solid #999999;
  font-size: 40px;
  width: 10%;
  height:100px;
  text-align: center;
  line-height:100px;
  padding:0;
  margin-top:-15px;
}

.info-box{
  display: inline-block;
  width:65%;
}

.artist-name{
  display:inline-block;
  font-size: 12px;
  border-bottom: 2px solid #999999;
  padding: 8px 15px;
}

.song-title{
  display:inline-block;
  font-size: 18px;
  padding: 15px;
}

.album-art{
  width: 20%;
  display: inline-block;
  float:right;
}
